.card-wrapper {
  padding: 40px;
  min-height: 600px;
  min-width: 500px;
  background-color: #fff;
  background: #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
}
